/* Header styling */

header{
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif
}
h1 {
  padding: 25px;
  margin: 25px;
  text-align: center;
  background-color: #b0c4b1;
  border: 2px solid black;
}


nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 25px;
  padding: 15px;
  font-size: large;
  border: 2px solid black;
  background-color: #b0c4b1;
}
